@model IEnumerable<IndianWebTradeWeb.Models.ItemModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index</h1>

<tr>
    @foreach (var items in Model)
    {
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="ItemImages/@items.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@items.Name</h5>
                    <h4 class="card-title">₹@items.Price</h4>
                    <p class="card-text">@items.Discription</p>

                    <a class="btn btn-primary" onclick="addtocart(@items.Id)">Go somewhere</a>
                </div>
            </div>
            </div>
            }
    </tr>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>*@

<section class="shop-page padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="item-display">
            <div class="row">
                <div class="col-xs-6"> <span class="product-num">Showing 1 - 10 of 30 products</span> </div>

                <!-- Products Select -->
                <div class="col-xs-6">
                    <div class="pull-right">

                        <!-- Short By -->
                        <select class="selectpicker">
                            <option>Short By</option>
                            <option>Short By</option>
                            <option>Short By</option>
                        </select>
                        <!-- Filter By -->
                        <select class="selectpicker">
                            <option>Filter By</option>
                            <option>Short By</option>
                            <option>Short By</option>
                        </select>

                        <!-- GRID & LIST -->
                        <a href="#." class="grid-style"><i class="icon-grid"></i></a> <a href="#." class="list-style"><i class="icon-list"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular Item Slide -->
        <div class="papular-block row single-img-demos">

            <!-- Item -->
            @foreach (var item in Model) {
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="ItemImages/@item.Image" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="ItemImages/@item.Image" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket" onclick="addtocart(@item.Id)"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">@item.Name</a>
                        <p>@item.Discription</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>@item.Price</span>
                </div>
            </div>
            }
            <!-- Item -->
            <div class="col-md-3">
                <div class="item">


                    <!-- Sale Tags -->
                    <div class="on-sale">
                        10%
                        <span>OFF</span>
                    </div>
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-2-2.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-2-2.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">gray bag</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-2-3.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-2-3.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">chiar</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-2-4.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-2-4.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">STool</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-5.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-5.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">stone cup</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-6.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-6.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">gray bag</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-7.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-7.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">chiar</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-8.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-8.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">STool</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-9.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-9.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">stone cup</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-10.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-10.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">gray bag</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-11.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-11.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">chiar</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-md-3">
                <div class="item">
                    <!-- Item img -->
                    <div class="item-img">
                        <img class="img-1" src="images/product-12.jpg" alt="">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="position-center-center">
                                <div class="inn"><a href="images/product-12.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Item Name -->
                    <div class="item-name">
                        <a href="#.">STool</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <!-- Price -->
                    <span class="price"><small>$</small>299</span>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function addtocart(id) {
        $.ajax({
            method: "POST",
            data: { "ItemId": id, "Quantity": 1 },
        url: "@Url.Action("AddTocart", "Home")",
            success: function (data) {
                console.log(data);
        },
        error: function (data) {
            alert('error' + data.status);
        }
    });
    }
</script>