@model IEnumerable<IndianWebTradeWeb.Models.ItemModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="shop-page padding-top-100 padding-bottom-100">
    <div class="container">
        <div class="item-display">
            <div class="row">
                <div class="col-xs-6"> <span class="product-num">Showing 1 - 10 of 30 products</span> </div>

                <!-- Products Select -->
                <div class="col-xs-6">
                    <div class="pull-right">

                        <!-- Short By -->
                        <select class="selectpicker" onchange="ProdyctItemFilteredForAjaxDiv()" id="categoryId" asp-items="@(new SelectList(@ViewBag.categories,"Id","CatogeryName"))" placeholder="Select Category">
                            <option selected>--- Category ---</option>
                        </select>
                        @*<select class="selectpicker">
                        <option>Short By</option>
                        <option>Short By</option>
                        <option>Short By</option>
                        </select>*@
                        <!-- Filter By -->
                        <select class="selectpicker" id="PriceId" onchange="ProdyctItemFilteredForAjaxDiv()">
                            <option disabled selected>--- Price ---</option>
                            <option value="asec">Low</option>
                            <option value="desc">High</option>
                        </select>

                        <!-- GRID & LIST -->
                        <a href="#." class="grid-style" onclick="ProdyctItemFilteredForAjaxDiv()"><i class="icon-grid"></i></a> <a href="#." class="list-style"><i class="icon-list"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular Item Slide -->
        <div class="papular-block row single-img-demos">
            <div id="productItem">
                <!-- Item -->
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="item">
                            <!-- Item img -->
                            <div class="item-img">
                                <img class="img-1" src="ItemImages/@item.Image" alt="">
                                <!-- Overlay -->
                                <div class="overlay">
                                    <div class="position-center-center">
                                        <div class="inn"><a href="ItemImages/@item.Image" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket" onclick="addtocart(@item.Id)"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item Name -->
                            <div class="item-name">
                                <a href="#.">@item.Name</a>
                                <p>@item.Discription</p>
                            </div>
                            <!-- Price -->
                            <span class="price"><small>$</small>@item.Price <small>Month</small></span>
                        </div>
                    </div>
                }
            </div>
            <!-- Item -->
            @*<div class="col-md-3">
            <div class="item">
            Sale Tags
            <div class="on-sale">
            10%
            <span>OFF</span>
            </div>
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-2-2.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-2-2.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">gray bag</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-2-3.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-2-3.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">chiar</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-2-4.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-2-4.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">STool</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-5.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-5.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">stone cup</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-6.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-6.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">gray bag</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-7.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-7.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">chiar</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-8.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-8.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">STool</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-9.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-9.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">stone cup</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-10.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-10.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">gray bag</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-11.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-11.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">chiar</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>
            Item
            <div class="col-md-3">
            <div class="item">
            Item img
            <div class="item-img">
            <img class="img-1" src="images/product-12.jpg" alt="">
            Overlay
            <div class="overlay">
            <div class="position-center-center">
            <div class="inn"><a href="images/product-12.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#."><i class="icon-heart"></i></a></div>
            </div>
            </div>
            </div>
            Item Name
            <div class="item-name">
            <a href="#.">STool</a>
            <p>Lorem ipsum dolor sit amet</p>
            </div>
            Price
            <span class="price"><small>$</small>299</span>
            </div>
            </div>*@
        </div>
    </div>
</section>
<script>
    function addtocart(id) {
        $.ajax({
            method: "POST",
            data: { "ItemId": id, "Quantity": 1 },
            url: "@Url.Action("AddTocart", "Home")",
            success: function (data) {
                if (data == null) {
                    window.location("Account/Login");
                }
            },
            error: function (data) {
                alert('error' + data.status);
            }
        });
    }

    function ProdyctItemFilteredForAjaxDiv() {

        var e = document.getElementById("categoryId");
        var x = document.getElementById("PriceId");
        console.log("categoryId" + e.value);
        console.log("Price" + x.value);
        var category = e.value;
        var price = x.value;
        $.ajax({
            method: "GET",
            data: { "categoryId": category, "PriceFilter": price },
            url: "@Url.Action("Index", "Home")",
            success: function (data) {
                $("#productItem").html("");


                $("#productItem").html(data);
            },
            error: function (data) {
                alert('error' + data.status);
            }
        });
    }
    $(document).ready(function () {

        //   layoutForUiCartIcon();
    });
    $("#cartIcon").click(function () {
        GetUserRole();
        layoutForUiCartIcon();

    });
    function layoutForUiCartIcon() {
        GetUserRole();
        $.ajax({
            method: "GET",
            data: { isAjax: true, isLayout: true },
            url: "@Url.Action("_GetUserCart", "Home")",
            success: function (data) {

                $("#carticonui").html(data);
            },
            error: function (data) {
                alert('error' + data.status);
            }
        });
    }
    function GetUserRole() {
        debugger
        $.ajax({
            method: "GET",
            /*data: { isAjax: true, isLayout:true },*/
            url: "@Url.Action("GetUserRole", "Home")",
            success: function (data) {
                console.log(data);
                if (data == "gest") {
                    location.replace("Account/Login");
                }

            },
            error: function (data) {

            }
        });
    }

</script>